/.idea/
/.venv/
/.env

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

/output_xml/*
/generated_xml/
/build/
/dist/
/xmlgenerator.egg-info/
/*.egg-info/
/_schemas/
/dist_native/
/.roo/
